EZSocketNc/bin/Debug/EZSocketNc.application
EZSocketNc/bin/Debug/EZSocketNc.dll
EZSocketNc/bin/Debug/EZSocketNc.dll.config
EZSocketNc/bin/Debug/EZSocketNc.exe
EZSocketNc/bin/Debug/EZSocketNc.exe.config
EZSocketNc/bin/Debug/EZSocketNc.exe.manifest
EZSocketNc/bin/Debug/EZSocketNc.pdb
EZSocketNc/bin/Debug/JAgentServiceProtocol.dll
EZSocketNc/bin/Debug/log4net.dll
EZSocketNc/bin/Debug/log4net.xml
EZSocketNc/bin/Debug/MQTTnet.dll
EZSocketNc/bin/Debug/MQTTnet.xml
EZSocketNc/bin/Debug/Newtonsoft.Json.dll
EZSocketNc/bin/Release/EZSocketNc.dll
EZSocketNc/bin/Release/EZSocketNc.dll.config
EZSocketNc/bin/Release/EZSocketNc.pdb
EZSocketNc/bin/Release/JAgentServiceProtocol.dll
EZSocketNc/bin/Release/log4net.dll
EZSocketNc/bin/Release/log4net.xml
EZSocketNc/bin/Release/MQTTnet.dll
EZSocketNc/bin/Release/MQTTnet.xml
EZSocketNc/bin/Release/Newtonsoft.Json.dll
EZSocketNc/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EZSocketNc/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EZSocketNc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EZSocketNc/obj/Debug/EZSocketNc.AddEzCnc.resources
EZSocketNc/obj/Debug/EZSocketNc.application
EZSocketNc/obj/Debug/EZSocketNc.csproj.AssemblyReference.cache
EZSocketNc/obj/Debug/EZSocketNc.csproj.CopyComplete
EZSocketNc/obj/Debug/EZSocketNc.csproj.CoreCompileInputs.cache
EZSocketNc/obj/Debug/EZSocketNc.csproj.FileListAbsolute.txt
EZSocketNc/obj/Debug/EZSocketNc.csproj.GenerateResource.cache
EZSocketNc/obj/Debug/EZSocketNc.csproj.ResolveComReference.cache
EZSocketNc/obj/Debug/EZSocketNc.dll
EZSocketNc/obj/Debug/EZSocketNc.exe.manifest
EZSocketNc/obj/Debug/EZSocketNc.Form1.resources
EZSocketNc/obj/Debug/EZSocketNc.Form2.resources
EZSocketNc/obj/Debug/EZSocketNc.FormDir.resources
EZSocketNc/obj/Debug/EZSocketNc.pdb
EZSocketNc/obj/Debug/EZSocketNc.Properties.Resources.resources
EZSocketNc/obj/Debug/Interop.EZNCAUTLib.dll
EZSocketNc/obj/Debug/Interop.EZSOCKETNCLib.dll
EZSocketNc/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
EZSocketNc/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
EZSocketNc/obj/Release/EZSocketNc.csproj.CopyComplete
EZSocketNc/obj/Release/EZSocketNc.csproj.CoreCompileInputs.cache
EZSocketNc/obj/Release/EZSocketNc.csproj.FileListAbsolute.txt
EZSocketNc/obj/Release/EZSocketNc.csproj.GenerateResource.cache
EZSocketNc/obj/Release/EZSocketNc.csproj.ResolveComReference.cache
EZSocketNc/obj/Release/EZSocketNc.dll
EZSocketNc/obj/Release/EZSocketNc.pdb
EZSocketNc/obj/Release/EZSocketNc.Properties.Resources.resources
EZSocketNc/obj/Release/Interop.EZNCAUTLib.dll
EZSocketNc/obj/Release/Interop.EZSOCKETNCLib.dll
EZSocketNc/publish/EZSocketNc.application
EZSocketNc/publish/setup.exe
EZSocketNc/publish/Application Files/EZSocketNc_1_0_0_0/EZSocketNc.application
EZSocketNc/publish/Application Files/EZSocketNc_1_0_0_0/EZSocketNc.exe.config.deploy
EZSocketNc/publish/Application Files/EZSocketNc_1_0_0_0/EZSocketNc.exe.deploy
EZSocketNc/publish/Application Files/EZSocketNc_1_0_0_0/EZSocketNc.exe.manifest
HmcCncServices/bin/Debug/etcd.json
HmcCncServices/bin/Debug/EZSocketNc.dll
HmcCncServices/bin/Debug/EZSocketNc.dll.config
HmcCncServices/bin/Debug/EZSocketNc.exe.config
HmcCncServices/bin/Debug/EZSocketNc.pdb
HmcCncServices/bin/Debug/HmcCncServices.exe
HmcCncServices/bin/Debug/HmcCncServices.exe.config
HmcCncServices/bin/Debug/HmcCncServices.pdb
HmcCncServices/bin/Debug/JAgentServiceProtocol.dll
HmcCncServices/bin/Debug/log4net.dll
HmcCncServices/bin/Debug/log4net.xml
HmcCncServices/bin/Debug/MQTTnet.dll
HmcCncServices/bin/Debug/MQTTnet.xml
HmcCncServices/bin/Debug/Newtonsoft.Json.dll
HmcCncServices/bin/Debug/Logs/202409/error_20240920.log
HmcCncServices/bin/Debug/Logs/202409/error_20240921.log
HmcCncServices/bin/Debug/Logs/202409/error_20240922.log
HmcCncServices/bin/Debug/Logs/202409/error_20240923.log
HmcCncServices/bin/Debug/Logs/202409/error_20240924.log
HmcCncServices/bin/Debug/Logs/202409/error_20240926.log
HmcCncServices/bin/Debug/Logs/202409/error_20240927.log
HmcCncServices/bin/Debug/Logs/202409/in0o_20240920.log
HmcCncServices/bin/Debug/Logs/202409/in0o_20240926.log
HmcCncServices/bin/Debug/Logs/202409/in1o_20240920.log
HmcCncServices/bin/Debug/Logs/202409/in1o_20240926.log
HmcCncServices/bin/Debug/Logs/202409/in2o_20240926.log
HmcCncServices/bin/Debug/Logs/202409/in2o_20240927.log
HmcCncServices/bin/Debug/Logs/202409/in3o_20240920.log
HmcCncServices/bin/Debug/Logs/202409/in3o_20240926.log
HmcCncServices/bin/Debug/Logs/202409/in3o_20240927.log
HmcCncServices/bin/Debug/Logs/202409/in4o_20240920.log
HmcCncServices/bin/Debug/Logs/202409/in4o_20240921.log
HmcCncServices/bin/Debug/Logs/202409/in4o_20240926.log
HmcCncServices/bin/Debug/Logs/202409/in4o_20240927.log
HmcCncServices/bin/Debug/Logs/202409/in5o_20240923.log
HmcCncServices/bin/Debug/Logs/202409/in5o_20240926.log
HmcCncServices/bin/Debug/Logs/202409/in6o_20240920.log
HmcCncServices/bin/Debug/Logs/202409/in6o_20240926.log
HmcCncServices/bin/Debug/Logs/202409/in6o_20240927.log
HmcCncServices/bin/Debug/Logs/202409/in7o_20240922.log
HmcCncServices/bin/Debug/Logs/202409/in7o_20240924.log
HmcCncServices/bin/Debug/Logs/202409/in7o_20240926.log
HmcCncServices/bin/Debug/Logs/202409/in7o_20240927.log
HmcCncServices/bin/Debug/Logs/202409/in8o_20240920.log
HmcCncServices/bin/Debug/Logs/202409/in8o_20240926.log
HmcCncServices/bin/Debug/Logs/202409/in9o_20240920.log
HmcCncServices/bin/Debug/Logs/202409/in9o_20240926.log
HmcCncServices/bin/Release/EZSocketNc.dll
HmcCncServices/bin/Release/EZSocketNc.dll.config
HmcCncServices/bin/Release/EZSocketNc.pdb
HmcCncServices/bin/Release/HmcCncServices.dll
HmcCncServices/bin/Release/HmcCncServices.dll.config
HmcCncServices/bin/Release/HmcCncServices.pdb
HmcCncServices/bin/Release/JAgentServiceProtocol.dll
HmcCncServices/bin/Release/log4net.dll
HmcCncServices/bin/Release/log4net.xml
HmcCncServices/bin/Release/MQTTnet.dll
HmcCncServices/bin/Release/MQTTnet.xml
HmcCncServices/bin/Release/Newtonsoft.Json.dll
HmcCncServices/bin/Release/Logs/202409/error_20240918.log
HmcCncServices/bin/Release/Logs/202409/in5o_20240918.log
HmcCncServices/bin/Release/Logs/202409/in9o_20240918.log
HmcCncServices/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
HmcCncServices/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HmcCncServices/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HmcCncServices/obj/Debug/HmcCncServices.AddEzCnc.resources
HmcCncServices/obj/Debug/HmcCncServices.csproj.AssemblyReference.cache
HmcCncServices/obj/Debug/HmcCncServices.csproj.CopyComplete
HmcCncServices/obj/Debug/HmcCncServices.csproj.CoreCompileInputs.cache
HmcCncServices/obj/Debug/HmcCncServices.csproj.FileListAbsolute.txt
HmcCncServices/obj/Debug/HmcCncServices.csproj.GenerateResource.cache
HmcCncServices/obj/Debug/HmcCncServices.exe
HmcCncServices/obj/Debug/HmcCncServices.Form1.resources
HmcCncServices/obj/Debug/HmcCncServices.FormDir.resources
HmcCncServices/obj/Debug/HmcCncServices.MainCnc.resources
HmcCncServices/obj/Debug/HmcCncServices.pdb
HmcCncServices/obj/Debug/HmcCncServices.Properties.Resources.resources
HmcCncServices/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
HmcCncServices/obj/Release/DesignTimeResolveAssemblyReferences.cache
HmcCncServices/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
HmcCncServices/obj/Release/HmcCncServices.AddEzCnc.resources
HmcCncServices/obj/Release/HmcCncServices.csproj.AssemblyReference.cache
HmcCncServices/obj/Release/HmcCncServices.csproj.CopyComplete
HmcCncServices/obj/Release/HmcCncServices.csproj.CoreCompileInputs.cache
HmcCncServices/obj/Release/HmcCncServices.csproj.FileListAbsolute.txt
HmcCncServices/obj/Release/HmcCncServices.csproj.GenerateResource.cache
HmcCncServices/obj/Release/HmcCncServices.dll
HmcCncServices/obj/Release/HmcCncServices.Form1.resources
HmcCncServices/obj/Release/HmcCncServices.FormDir.resources
HmcCncServices/obj/Release/HmcCncServices.MainCnc.resources
HmcCncServices/obj/Release/HmcCncServices.pdb
HmcCncServices/obj/Release/HmcCncServices.Properties.Resources.resources
packages/log4net.2.0.17/.signature.p7s
packages/log4net.2.0.17/log4net.2.0.17.nupkg
packages/log4net.2.0.17/package-icon.png
packages/log4net.2.0.17/lib/net20/log4net.dll
packages/log4net.2.0.17/lib/net20/log4net.xml
packages/log4net.2.0.17/lib/net35/log4net.dll
packages/log4net.2.0.17/lib/net35/log4net.xml
packages/log4net.2.0.17/lib/net40/log4net.dll
packages/log4net.2.0.17/lib/net40/log4net.xml
packages/log4net.2.0.17/lib/net40-client/log4net.dll
packages/log4net.2.0.17/lib/net40-client/log4net.xml
packages/log4net.2.0.17/lib/net45/log4net.dll
packages/log4net.2.0.17/lib/net45/log4net.xml
packages/log4net.2.0.17/lib/netstandard1.3/log4net.dll
packages/log4net.2.0.17/lib/netstandard1.3/log4net.xml
packages/log4net.2.0.17/lib/netstandard2.0/log4net.dll
packages/log4net.2.0.17/lib/netstandard2.0/log4net.xml
HmcCncServices/bin/Debug/Logs/202410/error_20241014.log
HmcCncServices/bin/Debug/Logs/202410/in3o_20241014.log
HmcCncServices/bin/Debug/Logs/202410/in5o_20241014.log
HmcCncServices/bin/Debug/Logs/202410/in6o_20241014.log
HmcCncServices/bin/Debug/Logs/202410/in7o_20241014.log
/.vs/HmcCncServices/FileContentIndex/2a5c0492-5302-49d0-88ec-cd7683d23e4a.vsidx
/.vs/HmcCncServices/FileContentIndex/e798d713-a988-4556-99ee-daa0ab36d6f6.vsidx
/.vs/HmcCncServices/FileContentIndex/f24d3fa6-8020-4769-a3cf-029931ec6cfc.vsidx
